/* You can add global styles to this file, and also import other style files */

@import url(../../portfolio-shared/src/lib/scss/portfolio-units.scss);
@import url(../../portfolio-shared/src/lib/scss/portfolio-layout.scss);
@import url(../../portfolio-shared/src/lib/scss/portfolio-variable.scss);

* {
    margin: 0;
    padding: 0;
    border: 0;
}
